@font-face {
    font-family: 'Tahoma';
    src: url('Tahoma.eot');
    src: url('../fonts/Tahoma.woff2') format('woff2'),
        url('../fonts/Tahoma.woff') format('woff'),
        url('../fonts/Tahoma.ttf') format('truetype'),
        url('../fonts/Tahoma.svg#Tahoma') format('svg');
    font-weight: normal;
    font-style: normal;
}
a{
	text-decoration: none;
	 
}
a:hover{
	text-decoration: none;
	outline: none;
}
li{
	list-style: none;
}
h1, h2, h3, h4, h5, h6{margin:0 0 ;padding:0 0 ;}
.no-padding{ padding: 0 0 ; }
.no-margin-right{margin-right: 0;}
.logo{
	margin:20px 0;
}
.ul-nav{
	margin-top:30px;
}
.li-nav{
	display: inline-block;
}
.li-nav:last-child{
	margin-left: 40px;
}
.li-nav a{
	color: grey;
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Tahoma';
    margin-left: 15px;
    height: 30px;
    display: block;

}
.li-nav a:hover{
	border-bottom:1px solid black;
}
.box-button button{
	background-image: url(../images/BgImageButton.png);
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	margin-top:25px;
	width: 100%;
	height: 30px;
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	border:solid 1px transparent;
	font-family:'Tahoma';
	border:none;
	box-shadow: inset 0px 0px 0px 200px rgba(0,0,0,0.75);}
.box-button button:hover{
	color:grey;
	border:solid 1px grey;
}
.box-leaf{
	position: absolute;
	left:0;
	margin-top: 120px;
}
.info{
	margin-top: 120px;

}
.info-text{
	font-size: 24px;
	margin-top: 10px;
	color: grey;
	font-family:'Tahoma';

}
.box-bg-col{
	position: absolute;
	background-color: #fff6eb;
	width: 500px;
	height: 500px;
	right: 0;
	margin: 0 0;
	display: flex;
	align-items: center;
    justify-content: center;
}
.box-bg-col::before{
	content: "*";
	background-image: url(../images/ImageFingers.png);
	width: 320px;
	height: 320px;
	position: absolute;
	left: -20px;
}
.li-nav-mobile{
	text-transform: uppercase;
	font-family: 'Tahoma';
}
.nav {
    width: 320px;
    min-width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    right: -320px;
    padding: 15px 20px;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    transition: right 0.3s;
    background: white;
    z-index: 2000;
}
.nav-toggle {
    position: absolute;
    right: 320px;
    top: 0;
    padding: 0.5em;
    color: grey;
    cursor: pointer;
    font-size: 50px;
    line-height: 1;
    z-index: 2001;
    -webkit-transition: color .25s ease-in-out;
    -moz-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}
.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
}
.nav-toggle:hover {
    color: grey;
}
[id='nav-toggle'] {
    position: absolute;
    display: none;
}
[id='nav-toggle']:checked ~ .nav > .nav-toggle {
    left: auto;
    right: 2px;
    top: 0;
}
[id='nav-toggle']:checked ~ .nav {
    right: 0;
    box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    -moz-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    -webkit-box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.5);
    overflow-y: auto;
}

[id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
    content: '\2715';
}
.nav span {
    width: 90%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    text-shadow: rgba(255, 255, 255, .1) -1px -1px 1px, rgba(0, 0, 0, .5) 1px 1px 1px;
    font-size: 1.3em;
    display: block;
    line-height: 1.3em;
    opacity: 0;
    transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -webkit-transform: scale(0.1, 0.1);
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    transition: opacity 0.8s, transform 0.8s;
    -ms-transition: opacity 0.8s, -ms-transform 0.8s;
    -moz-transition: opacity 0.8s, -moz-transform 0.8s;
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}

.nav span a {
    color: #dadada;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Tahoma';
}
[id='nav-toggle']:checked ~ .nav span {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}
.nav > ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav > ul > li {
    line-height: 2.5;
    opacity: 0;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
    -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
    -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
    transition: opacity .5s .1s, transform .5s .1s;
}

[id='nav-toggle']:checked ~ .nav > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.nav > ul > li:nth-child(2) {
    -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
    transition: opacity .5s .2s, transform .5s .2s;
}

.nav > ul > li:nth-child(3) {
    -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
    transition: opacity .5s .3s, transform .5s .3s;
}

.nav > ul > li:nth-child(4) {
    -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
    transition: opacity .5s .4s, transform .5s .4s;
}

.nav > ul > li:nth-child(5) {
    -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
    transition: opacity .5s .5s, transform .5s .5s;
}

.nav > ul > li:nth-child(6) {
    -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
    transition: opacity .5s .6s, transform .5s .6s;
}

.nav > ul > li:nth-child(7) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
    transition: opacity .5s .7s, transform .5s .7s;
}
.nav > ul > li:nth-child(8) {
    -webkit-transition: opacity .5s .7s, -webkit-transform .5s .8s;
    transition: opacity .5s .7s, transform .5s .7s;
}
.nav > ul > li > a {
    display: inline-block;
    position: relative;
    padding: 0;
    font-weight: 300;
    font-size: 1.2em;
    color: black;
    width: 100%;
    text-decoration: none;
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}
.nav > ul > li:last-child > a {
    display: inline;
    position: inherit;
    margin-left: 30px;
    text-decoration: none;
    -webkit-transition: color .5s ease, padding .5s ease;
    -moz-transition: color .5s ease, padding .5s ease;
    transition: color .5s ease, padding .5s ease;
}

.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
    color: grey;
    padding-left: 15px;
}
.nav > ul > li:last-child > a:hover,
.nav > ul > li:last-child > a:focus {
    color: grey;
    padding-left: 0;
}
.nav > ul > li > a:before {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}

.nav > ul > li > a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: black;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}
.nav > ul > li > a:hover:before {
    width: 0%;
    background: black;
    -webkit-transition: width .5s ease;
    transition: width .5s ease;
}

.nav > ul > li > a:hover:after {
    width: 0%;
    background: transparent;
    -webkit-transition: width 0s ease;
    transition: width 0s ease;
}
.nodos-arrow{margin-top: 150px;}
.nodos-arrow a{color: grey;}
.box-line{
	width: 100%;
	height: 10px;
	margin-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.line{
	width: 50%;
	height: 2px;
	background-color: grey;
}

.text-header{margin-top: 50px;}
.box-hed-service{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
}
.text-header h2{
	font-size: 24px;
	color: grey;
	font-family:'Tahoma';
}
.all-service-section{
	margin-top: 30px;
}
.all-service h3{
	color:grey;
	font-size: 16px;
	font-family:'Tahoma';
}
.all-service img{
	width: 100%;
	height: auto;
}
.all-service img:hover{
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.all-service:hover h3 {
  border-bottom: solid 2px black;
  color: black;
  font-size: 17px;
  transition: 0.5s;
  font-family:'Tahoma';
}
.box-button-service{
	margin-top: 50px;
}
.box-button-service button{
 width: 100%;
 height: 35px;
 border:solid 2px black;
 background-color: transparent;
 color: grey;
 text-transform: uppercase;
 font-family:'Tahoma';
 transition: 0.1s;
}
.box-button-service button:hover{
    background-image: url(../images/BgImageButton.png);
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	border-color: transparent;
	border:none;
	box-shadow: inset 0px 0px 0px 200px rgba(0,0,0,0.75);
	transition: 0.1s;
}
.hedder-info-salon{
	margin-top: 50px;
}
.all-service img{
	position: relative;
	z-index: -2;
}
.box-image-shadow {
	box-shadow: inset -10px 0px 0px 200px rgba(0,0,0,0.4);
	z-index: 1;
	height: 292px;
}
.text-info-salon{
	margin-top: 50px;
	width: 100%;
}
.text-info-salon p{
 font-size: 16px;
 color: grey;
 line-height: 30px;
 font-family:'Tahoma';
}
.text-info-salon span{
	 font-size: 16px;
 color: grey;
 line-height: 30px;
 font-family:'Tahoma';
}
.hedder-info-salon h1{
	font-size: 24px;
	color: grey;
	font-family:'Tahoma';
}
.box-text-two{
	text-align: center;
}
.bg-image{
	background-image: url(../images/BackgroundImage.png);
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 100%;
	min-height: 315px;
	margin-top: 100px;
	
}
.box-button-work-exempels button{
 width: 100%;
 height: 35px;
 color: white;
 text-transform: uppercase;
 background-image: url(../images/BgImageButton.png);
 background-position: center;
 background-repeat: no-repeat;
 -webkit-background-size: cover;
 background-size: cover;
 font-family:'Tahoma';
 border:none;
 box-shadow: inset 0px 0px 0px 200px rgba(0,0,0,0.75);
 transition: 0.1s;
}
.box-button-work-exempels button:hover{
	background-color: transparent;
	background-image: none;
	transition: 0.1s;
	color: black;
	border: 1px solid black;
	box-shadow:none;

}
.box-image-exempels, .box-image1, .box-two-image-left {
	display: inline-block;
}
.box-image-exempels img{
	vertical-align: bottom;
}
.box-image-exempels{
	margin-top: 50px;
}
.box-button-work-exempels{
	margin-top: 100px;
}
.stock{
	width: 100%;
	height: auto;
	background-color: #fff6eb;
	padding-top:100px;
	padding-bottom:100px;
	margin-top: 200px;
}
.box-line-stock{
	width: 100%;
	height: 10px;
	display: flex;
	margin-top: -50px;
	align-items: center;
	justify-content: center;
}
.line-stock{
	width: 50%;
	height: 2px;
	background-color: grey;
}
.box-leaf-stock{
	position: absolute;
	left:-35px;
	margin-top: -170px;
}
.style-input{
	width: 100%;
	border-color:transparent;
}
.box-button-record button{
	width: 50%;
	height: 30px;
	border:1px solid transparent;
	color:white;
	text-transform: uppercase;
	background-image: url(../images/BgImageButton.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	font-family:'Tahoma';
	 border:none;
 box-shadow: inset 0px 0px 0px 200px rgba(0,0,0,0.75);
 transition: 0.1s;
}
.box-button-record button:hover{
	color: grey;
	transition: 0.1s;
}
.box-input-record{
	margin-top: 50px;
}
.box-hed-masters{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
}
.all-masters-section{
	margin-top: 100px;
	z-index: 1;
}
.text-header-masters h2{
	color:grey;
	font-size: 24px;
	font-family:'Tahoma';
	margin-top: 50px;
}
.all-masters h1{
	color:grey;
	font-size: 16px;
	font-family:'Tahoma';

}
.all-masters img{
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.box-button-masters{
	margin-top: 50px;
}
.box-info-masters{margin-top: 30px;}
.box-info-masters p {
	color: grey;
	font-size: 16px;
	font-family:'Tahoma';
}
.box-button-masters button{
 width: 100%;
 height: 35px;
 text-transform: uppercase;
 margin-top: 50px;
 border:1px solid black;
 background-color: transparent;
 color: grey;
 font-family:'Tahoma';
 transition: 0.1s;
}
.box-button-masters button:hover{
 background-image: url(../images/BgImageButton.png);
 background-position: center;
 background-repeat: no-repeat;
	border:none;
 box-shadow: inset 0px 0px 0px 200px rgba(0,0,0,0.75);
 color: white;
 transition: 0.1s;

}
.box-right-leaf{
	position: absolute;
	right:0px;
	margin-top: -300px;
	z-index: 0;
}
.box-right-leaf-service{
	position: absolute;
	right:0px;
	margin-top: -250px;
}
.box-right-leaf-service img{
		-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
filter: gray;}
.box-line-reviews{
	width: 100%;
	height: 10px;
	display: flex;
	margin-top: 100px;
	align-items: center;
	justify-content: center;
}
.text-header-decription{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	color: grey;
	font-family: 'Tahoma';
	font-size: 24px;
	margin-top: 50px;
}
.line-reviews{
	width: 50%;
	height: 2px;
	background-color: grey;
}
.container-reviews-description-first{
	width: 100%;
	height: auto;
	border-bottom: solid 0.5px #9f9fa0;
	padding-bottom: 50px;
	margin-top: 250px;
}
.container-reviews-description-two{
	width: 100%;
	height: auto;
	border-bottom: solid 1px #ccc;
	padding-bottom: 50px;
	margin-top: 100px;
}
.container-reviews-description-theree{
	width: 100%;
	height: auto;
	padding-bottom: 50px;
	margin-top: 100px;
}
.client-name{ 
color: grey;
font-family: 'Tahoma';
font-size:16px; 
text-transform: uppercase;
margin-top:0;
 }
 .client-name h1{ 
margin-top:0;
 }
.data-description{
	color: grey;
	font-family: 'Tahoma';
	font-size: 16px;
	margin-top: 20px;
}
.description{
	color: grey;
	font-family: 'Tahoma';
	font-size: 16px;
	line-height: 30px;
	margin-top: 30px;
}
.box-leaf-reviews{
	position: absolute;
	left:0;
	margin-top: -120px;
}

.bg-image-reviews{
	background-image: url(../images/BackgroundImage.png);
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 100%;
	min-height: 315px;
	margin-top: 100px;
	
}

.box-image-blog, .box-image1, .box-two-image-left {
	display: inline-block;
}
.container-image-blog img{
	vertical-align: bottom;
}
.container-image-blog{
	margin-top: 50px;
}
.box-image-blog{
	 box-shadow: inset 0px 0px 0px 200px rgba(0,0,0,0.3);
}
.box-image-blog img{
	 position: relative;
	 z-index: -1;
}
.box-image-blog h1{
	 font-size: 24px;
    font-family: 'Tahoma';
    position: absolute;
    z-index: 999;
    color: white;
    bottom: 6%;
    left: 21%;
    text-align: left;
    float: left;
    line-height: 30px;

}
.box-image-blog h2{
	 font-size: 24px;
    font-family: 'Tahoma';
    position: absolute;
    z-index: 999;
    color: white;
    bottom: 6%;
    left: 5%;
    text-align: left;
    float: left;
    line-height: 30px;

}
.box-button-work-blog{
	margin-top: 100px;
}
.box-button-blog button{
 width: 100%;
 height: 35px;
 text-transform: uppercase;
 margin-top: 50px;
border: 1px solid black;
 background-color: transparent;
 color: grey;
 font-family:'Tahoma';
 transition: 0.1s;
}
.box-button-blog button:hover{
 background-image: url(../images/BgImageButton.png);
 background-position: center;
 background-repeat: no-repeat;
 	border:none;
 box-shadow: inset 0px 0px 0px 200px rgba(0,0,0,0.75);
 color: white;
 transition: 0.1s;
}
.text-header-recommendation{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	color: grey;
	font-family: 'Tahoma';
	font-size: 24px;
	margin-top: 50px;
	padding-bottom: 100px;
}
.image-product img{
	width: 100%;
	height: auto;
}
.description-product p{
	font-size: 16px;
	font-family: 'Tahoma';
	color: grey;
	margin-top:10px;

}
.box-product{
	padding-bottom: 30px;
}

.box-button-all-product button{
 width: 100%;
 height: 35px;
 color: white;
 text-transform: uppercase;
 background-image: url(../images/BgImageButton.png);
 background-position: center;
 background-repeat: no-repeat;
 border:1px solid transparent;
 font-family:'Tahoma';
  box-shadow: inset 0px 0px 0px 200px rgba(0,0,0,0.75);
  border: none;
  transition: 0.2s;
}
.box-button-all-product button:hover{
	background-color: transparent;
	background-image: none;
	color: black;
	border:solid 1px black;
	transition: 0.2s;
	box-shadow:none;

	
}
.box-right-leaf-sec-product{
	position: absolute;
	right: 0;
	margin-top: -200px;
}
#footer{
	width: 100%;
	height: 65px;
	box-shadow: 0px -5px 25px -9px #000000;
	margin-top:100px;
}
.ul-footer li{
	display: inline-block;
	margin-left: 10px;
	color: grey;
	
}.ul-footer{
	padding-left:0;
	
}
.ul-footer a{
	color: grey;
	font-family: 'Tahoma';
	padding:2px;
	
}
.footer-link{
	margin-top:30px;
	width: 100%;
	height: auto;
	padding-left:0;

}
.ul-footer li:first-child{
	float: left;
}
.ul-footer li:last-child{
	float: right
}
/* Стили к файлу Blog.html */
#header-blog{
	height: 100px;
}
.bg-image-file-blog{
	background-image: url(../images/BackgroundImage.png);
   position: relative;
	background-size: cover;
	width: 100%;
	min-height: 400px;
	box-shadow: inset 0px 0px 200px 0.7px black;
	background-repeat: no-repeat;	
	margin-top: 100px;

}
.line-blog-file{
	width: 75px;
	height: 2px;
	background-color: white;
	margin: -200px auto;
}
.box-info-page-blog{
	margin-top: 100px;
	height: 400px;

}
.box{width: 250px;margin:0 auto;}
.name-page{margin-top: -150px;}
.name-page h1{
	font-size: 36px;
	color: white;
	font-family:'Tahoma';
	text-transform: uppercase;
}
.line-grey{
	width: 82%;
	height: 1px;
	background-color: #ccc;
	margin:50px auto;
}
.box-info-page-blog h2{
	text-align: left;
	text-decoration: inherit;
	font-size: 16px;
	font-family: 'Tahoma';
	color: grey;
	text-transform: uppercase;
	line-height: 30px;
	margin-top:20px;
}
.box-info-page-blog h3{
	text-align: left;
	text-decoration: inherit;
	font-size: 16px;
	font-family: 'Tahoma';
	color: grey;
	margin-top:10px;
}
.box-info-page-blog p{
text-align: left;
	text-decoration: inherit;
	font-size: 16px;
	font-family: 'Tahoma';
	color: grey;
	margin-top: 40px;
}
.bg-image-file-blog-two{
	background-image: url(../images/BackgroundImage.png);
   position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 310px;
	margin-top: 100px;

}
.line-blog-file-two{
	width: 75px;
	height: 2px;
	background-color: #ccc;
	margin: 100px auto;
}


.box-leaf-file-blog{
	position: absolute;
	top: 120%;
}
.box-right-leaf-file-blog{
	position: absolute;
	right: 0;
	bottom: -160%;
}.box-right-leaf-file-blog img{
	    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

/* Конец стилей файла Blog.html */



















/* Стили к файлу Services.html */
#header-blog{
	height: 100px;
}
.bg-image-file-services{
	background-image: url(../images/BackgroundImage.png);
    position: relative;
    background-position: center;
	background-size: cover;
	width: 100%;
	min-height: 400px;
	background-repeat: no-repeat;
	box-shadow: inset 0px 0px 200px 0.7px black;
	margin-top: 100px;

}
.line-services-file{
	width: 75px;
	height: 2px;
	background-color: white;
	margin: -300px auto;
	display: block;
}
.services h2 {
font-size: 24px;
 color: grey;
 font-family:'Tahoma';
 margin-top: -80px;
}
.box-info-page-services{
	margin-top: 100px;
	height: 400px;

}
.name-page-services{margin-top: -250px;}
.name-page-services h1{
	font-size: 36px;
	color: white;
	font-family:'Tahoma';
	text-transform: uppercase;
}
.line-grey{
	width: 82%;
	height: 1px;
	background-color: #ccc;
	margin:100px auto;
	display: block;
}
.box-info-page-services h2{
	text-align: left;
	text-decoration: inherit;
	font-size: 16px;
	font-family: 'Tahoma';
	color: grey;
	text-transform: uppercase;
	line-height: 30px;
	margin-top:20px;
}
.box-services{width: 250px;margin:0 auto;}
.box-info-page-services h3{
	text-align: left;
	text-decoration: inherit;
	font-size: 16px;
	font-family: 'Tahoma';
	color: grey;
	line-height: 30px;
	margin-top:10px;
}
.box-info-page-services p{
text-align: left;
	text-decoration: inherit;
	font-size: 16px;
	font-family: 'Tahoma';
	color: grey;
	margin-top: 40px;
}
.bg-image-file-services-two{
	background-image: url(../images/BackgroundImage.png);
 	position: relative;
   	background-position: center;
	background-size: 100%;
	width: 100%;
	min-height: 315px;
	margin-top: 100px;
	background-repeat: no-repeat;

}
.line-services-file-two{
	width: 75px;
	height: 2px;
	background-color: #ccc;
	margin: 100px auto;
	display: block;
}


.box-leaf-file-services{
	position: absolute;
	top: 150%;
}
.box-right-leaf-file-services{
	position: absolute;
	right: -100%;
	bottom: 70%;
}.box-right-leaf-file-services img{
	 -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.ul-list li{
	display: inline-block;
    margin: -10px 20px;
    padding: 10px 20px;
}
.ul-list li > button{
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Tahoma';
	color: grey;
	display: block;
	height: 30px;
	transition: 0.5s;
	background-color: transparent;
	border:none;
	outline: none;
    
}
.ul-list li > button:hover{
	border-bottom: solid 1px black;
	transition: 0.5s;
    
}
/* Конец стилей файла Services.html */

/* Стили к файлу Price-List.html */

#header-blog{
	height: 100px;
}
.bg-image-file-price{
	background-image: url(../images/BackgroundImage.png);
   position: relative;
   background-position: center;
	background-size: cover;
	width: 100%;
	min-height: 400px;
	background-repeat: no-repeat;
	box-shadow: inset 0px 0px 200px 0.7px black;
	margin-top: 100px;

}
.line-price-file{
	width: 75px;
	height: 2px;
	background-color: white;
	margin: -300px auto;
	display: block;
}
.price h2 {
font-size: 24px;
 color: grey;
 font-family:'Tahoma';
 margin-top: -80px;
}
.box-info-page-price{
	margin-top: 100px;
	height: 400px;

}
.name-page-price{margin-top: -250px;}
.name-page-price h1{
	font-size: 36px;
	color: white;
	font-family:'Tahoma';
	text-transform: uppercase;
}
.line-grey{
	width: 82%;
	height: 1px;
	background-color: #ccc;
	margin:100px auto;
	display: block;
}
.box-info-page-price h2{
	text-align: left;
	text-decoration: inherit;
	font-size: 16px;
	font-family: 'Tahoma';
	color: grey;
	text-transform: uppercase;
	line-height: 30px;
	margin-top:20px;
}

.bg-image-file-price-two{
	background-image: url(../images/BackgroundImage.png);
 	position: relative;
   	background-position: center;
	background-size: cover;
	width: 100%;
	min-height: 315px;
	margin-top: 100px;
	background-repeat: no-repeat;
	padding-right: 0;

}
.line-price-file-two{
	width: 75px;
	height: 2px;
	background-color: #ccc;
	margin: 100px auto;
	display: block;
}
.no-padding-right{padding-right: 0;}



.ul-list li{
	display: inline-block;
    margin: -10px 20px;
    padding: 10px 20px;
}
.ul-list li > button{
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'Tahoma';
	color: grey;
	display: block;
	height: 30px;
	transition: 0.5s;
	background-color: transparent;
	border:none;
	outline: none;
	border:1px solid transparent;
    
}
.ul-list li > button:hover{
	border-bottom: solid 1px black;
	transition: 0.5s;
    
}

table{width: 100%;}
tr{border-bottom:solid 1px #ccc;height: 70px;margin: auto 0;}
.name-price{float:right;color: green;}
.name{float:left;font-size: 16px;font-family: 'Tahoma';color: grey;}
#h_button{margin:auto 0;font-size: 16px;font-family: 'Tahoma';text-transform: uppercase;}
.box-toggle{height: 70px;width: 100%;border-bottom:solid 1px #ccc;display: flex;align-items: center;}
.panel-title>.small, .panel-title>.small>a, .panel-title>a, .panel-title>small, .panel-title>small>a {
    color: inherit;
    width: 100%;
    height: auto;
    display: block;
font-size: 16px;font-family: 'Tahoma';color: grey;
text-transform: uppercase;
}

.panel-title:hover{
	cursor: pointer;
}
.panel-title {
	width: 100%;
	height: 100%;
}
.panel-default>.panel-heading {
    height: 40px;
    display: flex;
    align-items: center;
}
.box-table-manicure{
	margin-top: 50px;
}
.panel-body{padding-bottom: 50px;}
.box-leaf-file-price{
 position: absolute;
 left:0;
 top:130%;
}
/* Конец стилей файла Price-List.html */




















@media screen and (max-width: 404px){
	.info{    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;}
	.box-button-service button{
 width: auto;
 height: auto;
}	.box-button-service button:hover{
	-webkit-background-size: cover;
	background-size: cover;
}
.box-button-work-exempels button{
 width: auto;
 height: auto;
 -webkit-background-size: cover;
 background-size: cover;
}
.box-button-record button{
	width:auto;
	height: auto;
	-webkit-background-size: cover;
	background-size: cover;
}
.box-button-masters button{
 width: auto;
 height: auto;
}.box-button-masters button:hover{
	-webkit-background-size: cover;
	background-size: cover;
}
.box-image-exempels{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0;
}
.box-two-image-left div{
	display: inline-block;
}
.box-info-masters p{
	font-size: 11px;
}
.center{text-align: center;}
.nodos-arrow{margin-top: 50px;}
.box-button-record{margin-top:20px;}
.nodos-arrow{margin-top: 50px;}
.box-line{margin-top: 50px;}
.bg-image{margin-top: 10px;min-height: 100px;}
.text-header{margin-top: 20px;}
.hedder-info-salon{margin-top: 50px;}
.text-info-salon{margin-top: 50px;}
.box-button-work-exempels{margin-top: 50px;background-size: 0;-webkit-background-size: 100%;}
.description-product h1{
	font-size: 12px;
}
.box-product{
	padding-bottom: 0;
}
.box-button-all-product button{-webkit-background-size: cover;background-size: cover;}
.ul-footer li{
	margin-left: 5px;
	
}
.ul-footer li:nth-child(7),
.ul-footer li:nth-child(6),
.ul-footer li:nth-child(5),
.ul-footer li:nth-child(4),
.ul-footer li:nth-child(3),
.ul-footer li:nth-child(2){
	display: none;
}
.ul-footer li:first-child a{
	padding: 0;
}
	.box-image-blog h1{
      
    left: 10%;

}
.box-image-blog h2{
    
    left: 10%;
}
.description-product p{
	font-size: 11px;
}
.bg-image-reviews{
    min-height: 100px;
    margin-top: 0;
}
.box-image-shadow {
    height: auto;
}
.all-masters img{
	margin-top: 0;
}
.flex-wrap-revers-mobile{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap-reverse;
}
.box-button-blog button {
    height:auto;}
    .box-button-all-product button {
    height: auto;}
    .box-line-reviews {
    margin-top: 50px;}
    .stock {
    margin-top: 50px;
}
.bg-image-reviews {
    margin-top: 0px;
}
.ul-list li{
	display: inline-block;
    margin: 0 auto;
    padding: 0 ;
}
.ul-list li > a{
	font-size: 10px;
    
}
.box-info-page-services img{width: 100%;}
.box-info-page-blog img{width: 100%;}
.box-info-page-blog {
    height: 300px;
}
.line-blog-file-two {
    margin: 30px auto;
}
.box-info-page-blog p {
    font-size: 12px;
    width: 100%;

}
.ul-list ul{
	padding-left: 0;
}
.ul-list li {
     display: block;
}
.ul-list li > button{
	margin:0 auto;
}
.box-services {
    width: auto;
 
}
.services h2 {
    margin-top: 0; 
}
.line-services-file-two {
    margin: 50px auto;
}
.bg-image-file-blog {
    min-height: 200px;
    margin-top: 50px;
 
}
.name-page h1 {
    margin-top: 50px;
}
.line-blog-file {
    margin: -120px auto;
}
.box {
    width: auto;
}
.bg-image-file-blog-two {
    min-height: 200px;
}
.hedder-info-salon {
    margin-top: 0; 
}
.bg-image-file-services-two {
    min-height: 200px;
    margin-top: 0;

}
.bg-image-file-services {
    min-height: 200px;
    margin-top: 50px;
}
.name-page-services h1 {
    margin-top: 100px;
}
.line-services-file {
    margin: -170px auto;

}
.box-info-page-services {
    margin-top: 80px;
}
.nav-toggle {
    right: 350px;
}
.bg-image-file-price {
    min-height: 200px;
    margin-top: 0;
}
.line-price-file {
    margin: -150px auto;
}
.name-page-price {
    margin-top: -130px;
}
.bg-image-file-price-two {
    min-height: 200px;
    margin-top: 50px;
}
.line-price-file-two {
    margin: 50px auto;

}
.price h2 {
    margin-top: 0px;
}

}
@media (min-width: 405px) and (max-width: 575px){
	.ul-list li{
	display: inline-block;
    margin: 0 auto;
    padding: 0 ;
}
.ul-list li > a{
	font-size: 9px;
    
}
.center{text-align: center;}
.nodos-arrow{margin-top: 50px;}
.box-button-record{margin-top:20px;}
.nodos-arrow{margin-top: 50px;}
.box-line{margin-top: 50px;}
.bg-image{margin-top: 0;}
.text-header{margin-top: 20px;}
.hedder-info-salon{margin-top: 50px;}
.text-info-salon{margin-top: 50px;}
.box-button-work-exempels{margin-top: 50px;background-size: 0;-webkit-background-size: 100%;}
.box-image-exempels{margin-top: 50px;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0;
}
	.box-image-blog h1{
          bottom: 40%;
    left: 30%;

}
.box-image-blog h2{
         bottom: 40%;
    left: 30%;
}
.stock{margin-top: 50px;}
.box-button-masters button{margin-top: 10px;}
.box-button-record button{width: 50%;}
.box-two-image-left div{
	display: inline-block;
}
.ul-footer li{
	margin-left: 5px;
	
}
.ul-footer li:nth-child(7){
	display: none;
}
	.box-image-blog h1{
          bottom: 40%;
    left: 30%;

}
.ul-footer li:nth-child(7),
.ul-footer li:nth-child(6),
.ul-footer li:nth-child(5),
.ul-footer li:nth-child(4),
.ul-footer li:nth-child(3),
.ul-footer li:nth-child(2){
	display: none;
}
.box-image-blog h2{
         bottom: 40%;
    left: 30%;
}
.box-image-shadow {
    height: auto;
}
.flex-wrap-revers-mobile{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap-reverse;
}
.bg-image-reviews {
    margin-top: 0px;
    min-height: 100px;
}
.ul-list ul{
	padding-left: 0;
}
.ul-list li {
     display: block;
}
.ul-list li > button{
	margin:0 auto;
}
.services h2 {
    margin-top: 0; 
}
.line-services-file-two {
    margin: 50px auto;
}
.bg-image-file-blog {
    min-height: 200px;
    margin-top: 50px;
 
}
.name-page h1 {
    margin-top: 50px;
}
.line-blog-file {
    margin: -120px auto;
}
.bg-image-file-blog-two {
    min-height: 200px;
}
.line-blog-file-two {
    margin: 50px auto;
}
.hedder-info-salon {
    margin-top: 0; 
}
.box {
    width: auto;
}
.bg-image-file-services-two {
    min-height: 200px;
    margin-top: 0;

}
.bg-image-file-services {
    min-height: 200px;
    margin-top: 50px;
}
.name-page-services h1 {
    margin-top: 100px;
}
.line-services-file {
    margin: -170px auto;

}
.box-info-page-services {
    margin-top: 80px;
}
.nav-toggle {
    right: 400px;
}
.bg-image-file-price {
    min-height: 200px;
    margin-top: 0;
}
.line-price-file {
    margin: -150px auto;
}
.name-page-price {
    margin-top: -130px;
}
.bg-image-file-price-two {
    min-height: 200px;
    margin-top: 50px;
}
.line-price-file-two {
    margin: 50px auto;

}
.price h2 {
    margin-top: 0px;
}
}
@media (min-width: 576px) and (max-width: 767px) {
	.ul-list li{
	display: inline-block;
    margin: 0 auto;
    padding: 0 ;
}
.ul-list li > a{
	font-size: 10px;
    
}
.center{text-align: center;}
.logo{	margin-top:20px;}
.nodos-arrow{margin-top: 50px;}
.box-button-record{margin-top:20px;}
.nodos-arrow{margin-top: 50px;}
.box-line{margin-top: 50px;}
.bg-image{margin-top: 0;}
.text-header{margin-top: 20px;}
.hedder-info-salon{margin-top: 50px;}
.text-info-salon{margin-top: 50px;}
.box-button-work-exempels{margin-top: 50px;}
.box-image-exempels{margin-top: 50px;}
.stock{margin-top: 50px;}
.box-button-masters button{margin-top: 10px;}
.box-button-service button:hover{-webkit-background-size: cover;background-size: cover;}
.box-button-work-exempels button{-webkit-background-size: cover;background-size: cover;}
.box-button-record button{width: 50%;height: auto;-webkit-background-size: cover;background-size: cover;}
.box-button-masters button:hover{-webkit-background-size: cover;background-size: cover;}
.box-button-all-product button{-webkit-background-size: cover;background-size: cover;}
.ul-footer li{
	margin-left: 5px;
	
}
.ul-footer li:nth-child(7),
.ul-footer li:nth-child(6),
.ul-footer li:nth-child(5),
.ul-footer li:nth-child(4),
.ul-footer li:nth-child(3),
.ul-footer li:nth-child(2){
	display: none;
}
.box-image-shadow {
    height: auto;
}
.ul-footer li:last-child{
	display: none;
}
	.box-image-blog h1{
        bottom: 10%;
    left: 20%;

}
.box-image-blog h2{
         bottom: 10%;
    left: 20%;
}
.center-align{text-align: center;}
.flex-wrap-revers-mobile{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap-reverse;
}
.ul-list ul{
	padding-left: 0;
}
.ul-list li {
     display: block;
}
.ul-list li > button{
	margin:0 auto;
}
.bg-image-file-blog {
    min-height: 200px;
    margin-top: 50px;
 
}
.name-page h1 {
    margin-top: 50px;
}
.line-blog-file {
    margin: -120px auto;
}
.bg-image-file-blog-two {
    min-height: 200px;
}
.hedder-info-salon {
    margin-top: 0; 
}
.bg-image-file-services-two {
    min-height: 200px;
    margin-top: 0;

}
.bg-image-file-services {
    min-height: 200px;
    margin-top: 50px;
}
.name-page-services h1 {
    margin-top: 80px;
}
.line-services-file {
    margin: -200px auto;

}
.box-info-page-services {
    margin-top: 80px;
}
.nav-toggle {
    right: 400px;
}
.bg-image-file-price {
    min-height: 200px;
    margin-top: 0;
}
.line-price-file {
    margin: -150px auto;
}
.name-page-price {
    margin-top: -130px;
}
.bg-image-file-price-two {
    min-height: 200px;
    margin-top: 50px;
}
.line-price-file-two {
    margin: 50px auto;

}
.price h2 {
    margin-top: 0px;
}
}

@media (min-width: 768px) and (max-width: 991px) {
	.ul-list li{
	display: inline-block;
    margin: 0 auto;
    padding: 0 ;
}
.ul-list li > a{
	font-size: 11px;
    
}
.ul-list li {
    margin: 30px 20px;
    padding: 0 0;
}
.li-nav{margin-left: 0;}
.li-nav:last-child{margin-left: 0;}
.li-nav a{font-size: 9px;}
.box-button button{font-size: 8px;}
.box-leaf{left:-50px;}
.info{margin-left: 40px;}
.info-text{font-size: 19px;margin-top: 20px;}
.box-bg-col{width: 400px;height: 400px;}
.nodos-arrow{margin-top: 100px;}
.box-button-service button:hover{-webkit-background-size: cover;background-size: cover;}
.box-button-work-exempels button{-webkit-background-size: cover;background-size: cover;}
.box-button-record button{width: 50%;height: auto;-webkit-background-size: cover;background-size: cover;}
.box-button-masters button:hover{-webkit-background-size: cover;background-size: cover;}
.box-two-image-left div{display: inline-block;}
.box-button-all-product button{-webkit-background-size: cover;background-size: cover;}
	.box-image-blog h1{
     bottom: 40%;
    left: 20%;

}
.box-image-shadow {
    height: auto;
}
.box-image-blog h2{
        bottom: 40%;
    left: 8%;
}
.description{
	font-size: 11px;
}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.ul-list li{
	display: inline-block;
    margin: 0 auto;
    padding: 0 ;
}
.ul-list li > a{
	font-size: 13px;
    
}

	.logo{margin: 20px 0;}
	.info-text{font-size: 23px;}
	.box-bg-col{width: 450px;height: 450px;}
	.box-two-image-left div{display: inline-block;}
	.box-image-blog h1{
        bottom: 40%;
    left: 40%;

}
.box-button-record button{width: 50%;}
.box-image-shadow {
    height: auto;
}
.box-image-blog h2{
        bottom: 40%;
    left: 8%;
}
.description{
	font-size: 14px;
}
.ul-list li {
    margin: 30px 20px;
    padding: 0 0;
}
}

@media (min-width: 1200px){}